<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thống kê nhân sự</title>
    <script src="/templates/Js/Statistic.js"></script>
    <link rel="stylesheet" href="/templates/Css/Statistic.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<h1>Thống kê </h1>

<div class="top-charts">
    <div class="chart-card">

        <canvas id="barChart"></canvas>
    </div>
    <div class="chart-card">
        <canvas id="lineChart"></canvas>
    </div>
</div>

<div class="bottom-chart chart-card">
    <canvas id="pieChart"></canvas>
</div>
</body>
</html>
